/*
 * style.css
 */



body { 
    font-family: Courier New, Courier, mono;
}


h1, h2, h3 {
    font-weight: normal;
}

.remark-slide-content {
    background-image: url("pix/binary_background.png");
}
